<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<style type="text/css">
		span{
			display: inline-block;
			width: 80px;
			text-align: left;
		}
		input {height: 18px;margin-bottom: 5px;}
		span,input{line-height: 24px;}
	 </style>
</head>
<body>
	<div class="login-box">
		<span class="span">用户名:</span><input type="text" name="name" /><br/>
		<span class="span">确认密码:</span><input type="password" name="password-repeat" /><br/>
		<span class="span">邮箱:</span><input type="email" name="email" /><br/>
	</div>
</body>
</html>