<%- include header %>
<form method="post">
	<span class="span_login">用户名:</span> <input  class="input1" type="text" name="name"/><br/>
	<span class="span_login">密码:</span>   <input  class="input1" type="password" name="password" /><br/>
	<span class="span_login">确认密码:</span> <input  class="input1" type="password" name="password-repeat" /><br/>
	<span class="span_login">邮箱:</span>    <input class="input1" type="email" name="email"/><br/> 
	<input type="submit" value="注册"　/>
</form>
<%- include footer %>
